.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: middle;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.app-content {
  color: #13294b;
  margin-bottom: 20px;
  height: min-content;
}

.btn {
  height: 40px;
  background: #000;
  color: #13294b;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

.header {
  font-size: 32px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
